<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.thymeleafboard.mapper.FileBoardMapper">

  <select id="readBoardList" resultType="com.example.thymeleafboard.bean.FileBoardVO">
    select * from file_board
    order by b_no
  </select>

  <select id="boardDetail" resultType="com.example.thymeleafboard.bean.FileBoardVO">
    select * from file_board
    where b_no=#{b_no}
  </select>

  <insert id="boardInsert" parameterType="com.example.thymeleafboard.bean.FileBoardVO" keyProperty="b_no">
    insert into file_board(title, content, writer)
    values(#{title}, #{content}, #{writer})
  </insert>

  <update id="boardUpdate" parameterType="com.example.thymeleafboard.bean.FileBoardVO">
    update file_board set
    <if test="title != null">title=#{title}</if>
    <if test="title != null and content != null">,</if>
    <if test="content != null">content=#{content}</if>
    where b_no=#{b_no}
  </update>

  <delete id="boardDelete" parameterType="int">
    delete from file_board where b_no=#{b_no}
  </delete>

  <insert id="fileInsert" parameterType="com.example.thymeleafboard.bean.FileVO">
    <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
      select max(b_no)
      from file_board
    </selectKey>
    insert into file(b_no, filename, fileoriginname, fileurl)
    values(#{b_no}, #{filename}, #{fileoriginname}, #{fileurl})
  </insert>

  <select id="fileDetail" parameterType="int" resultType="com.example.thymeleafboard.bean.FileVO">
    select * from file
    where b_no=#{b_no}
  </select>

  <delete id="deleteFile">
    delete from file where b_no=#{b_no}
  </delete>
</mapper>